<body id="logout">
    <header class="logoutHeader">
        <h1 class="title">CardBoard</h1>
    </header>
    <div class="logoutContainer">
        <h1 id="success">You have successfully logged out!</h1>
        <a id="logoutRedirect" href="/"> Return to homepage </a>
    </div>
</body>