<body id="signup">
  <header class="signupHeader">
    <a href="/" class="title">CardBoard</a>
  </header>

  <div class="signupContainer">
    <h3 id="signupTitle">Create an account!</h3>
    <form id="signupForm" action="/auth/signup" method="POST">
      <!-- <label for="new-name">Name</label> -->
      <input class="signupField" id="new-name" type="text" name="name" placeholder="Name">

      <!-- <label for="user-name"> User Name</label> -->
      <input class="signupField" id="user-name" type="text" name="userName" placeholder="User Name">

      <!-- <label for="new-email">Email</label> -->
      <input class="signupField" id="new-email" type="email" name="email" placeholder="Email">

      <!-- <label for="new-password">Password</label> -->
      <input class="signupField" id="new-password" type="password" name="password" placeholder="Password">

      <input class="submit" id="signupBtn" type="submit" value="Sign me up!">
      <p id='signupRedirect'>Oops! Already have an account? Click <a id="goToLogin" href="login">here</a> to log in!</p>
    </form>
  </div>
</body>