<body id="profile">
    <header class="boardHeader">
        <h1 class="title">CardBoard</h1>
        <a id="logoutNav" href="/auth/logout">Logout</a>
    </header>

    <h1 id="boardTitle">Welcome to your board, <%= userName %>!</h2>

    <div class="cardContainer">

      <div class="card">
        <input placeholder="Card Title" />
        <form>
          <input placeholder="Add a task" />
          <button>+</button>
        </form>
      </div>

    </div>


</body>
