<body id="board">
    <header class="boardHeader">
        <h1 class="title">CardBoard</h1>
        <a id="logoutNav" href="/auth/logout">Logout</a>
    </header>

    <h1 id="boardTitle">Welcome to your board, <%= userName %>!</h2>

    <div class="cardContainer">
      <div class="listWrapper">
        <form action="/board" method="POST">
          <li class="list">
            <p id="addList">Add new list</p>
            <input name="title" type="text" placeholder="List Name" /><button id="doIt">Do it</button>
          </li>
        </form>
      </div>

      <% foundList.forEach(list => { %>
        <div class="listWrapper">
          <div class="newList">
            <form method="POST" action="/board/?_method=PUT">
              <input name="newTitle" 
                type="text" 
                id="newListTitle" 
                placeholder="<%= list.listName %>" />
            </form>
            <input placeholder="Add Task" />
            <form action='/board/<%= list.id %>/?_method=DELETE' method="POST">
              <button type="delete" class="btn" value="delete"> Delete </button>
            </form>
          </div>
        </div>
      <% }) %>

    </div>


</body>

<!-- <script src='/scripts/app.js'></script>   -->
