<body id="home">
    <div id="homeContainer">
        <div id="h1Container">
            <h1 id="cardboard">CardBoard</h1>
            <img id="homeImg" src="https://image.freepik.com/free-vector/illustration-with-multitasking-design_23-2148415704.jpg" />
        </div>
        <div id="blurbContainer">
            <h3>Let's get started!</h3>
            <p id="blurb">Welcome to <span>CardBoard</span>, a fully customizeable, interactive to-do list. Nothing is more satisfying than crossing off things that need to get done, so sign up and let's get cracking!</p>
            <div class="homeDirects">
                <a class="homeAnchor" href="/auth/login" >
                    <div class="iconContainer">
                        <i id="loginIcon" class="fas fa-sign-in-alt fa-2x"></i>
                    </div>
                    <br>Log In!</a>
                <a class="homeAnchor" href="/auth/signup" >
                    <div class="iconContainer">
                        <i id="signupIcon" class="fas fa-user-plus fa-2x"></i>
                    </div>
                    <br>Sign Up!</a>
            </div>
        </div>
    </div>
</body>