<body id="home">
    <div id="homeContainer">
        <div id="h1Container">
            <h1 id="cardboard">CardBoard</h1>
            <img id="homeImg" src="https://image.freepik.com/free-vector/illustration-with-multitasking-design_23-2148415704.jpg" />
        </div>
        <div id="blurbContainer">
            <h3>Let's get started!</h3>
            <p id="blurb">Welcome to <span>CardBoard</span>, a fully customizeable, interactive to-do list. Nothing is more satisfying than crossing off things that need to get done, so sign up and let's get cracking!</p>
            <p>Click <a class="direct" href="/auth/login">here</a> to log in!</p>
            <p>Click <a class="direct" href="/auth/signup">here</a> to sign up!</p>
        </div>
    </div>
</body>