<header class="topHeader">
    <h1>CardBoard</h1>
    <div class="nav">
      <ul id="nav">
        <li class="navItem"><a href="/auth/signup">Signup</a></li>
        <li class="navItem"><a href="/auth/login">Login</a></li>
        <li class="navItem"><a href="/auth/logout">Logout</a></li>
        <li class="navItem"><a href="/profile">Profile</a></li>
      </ul>
    </div>
</header>





<h2>Welcome to your profile!</h2>




