body {
  background: rgb(114, 150, 227);
}

/* ========= Home Page (index.ejs) ========== */
#home {
  background: rgb(60, 60, 171);
}

#homeContainer {
  display: flex;
  justify-content: space-evenly;
}

#h1Container {
  background: rgb(185, 230, 250);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 45vw;
  align-content: center;
}

#cardboard {
  color: white;
  top: 40vh;
  left: 15vw;
  margin-bottom: 10vh;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 4em;
}

#homeImg {
  width: 25vw;
}

#blurbContainer {
  position: absolute;
  right: 10vw;
  top: 25vh;
  background: rgb(114, 150, 227);
  height: 50vh;
  width: 25vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

#blurb {
  width: 20vw;
  line-height: 1.15;
}

span {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.3em;
}

.homeDirects {
  color: white;
  cursor: pointer;
  width: 20vw;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.iconContainer {
  border: 1px solid white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.homeAnchor {
  font-family: 'Annie Use Your Telescope', cursive;
  color: white;
  text-decoration: none;
}

.homeAnchor:hover{
  opacity: 50%;
  transform: scale(1.1)
}

#loginIcon {
  margin-top: 5px;
  padding: 5px;
  color: white;
}

#loginIcon:hover{
  opacity: 50%;
  transform: scale(1.1)
}

#signupIcon {
  margin-top: 5px;
  padding: 5px;
  color: white;
}

#signupIcon:hover{
  opacity: 50%;
  transform: scale(1.1)
}

/* ============= Login Page (login.ejs) =============== */

#login {
  background: rgb(60, 60, 171);
}

.loginHeader {
  background: whitesmoke;
  color: rgb(114, 150, 227);
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(114, 150, 227);
  text-decoration: none;
}

.title:hover {
  color: rgb(60, 60, 171);
  transform: scale(1.2)
}

.loginContainer {
  position: absolute;
  top: 25vh;
  left: 37.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(114, 150, 227);
  height: 50vh;
  width: 25vw;
  border-radius: 10px;
  color: white;
}

#loginTitle {
  letter-spacing: 1px;
}

#loginForm {
  width: 20vw;
  text-align: center;
}

#auth-email {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
  text-align: center;
  padding: 3px;
}

#auth-password {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
  text-align: center;
  padding: 3px;
}

.submit {
  background: rgb(60, 60, 171);
  color: whitesmoke;
  padding: 5px;
  border-radius: 3px;
}

#loginRedirect {
  width: 20vw;
  text-align: center;
}

#goToSignup {
  color: white;
}

/* ============ Board (board.ejs) ============== */

#board {
  background: rgb(114, 150, 227);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.boardHeader {
  background: whitesmoke;
  color: rgb(114, 150, 227);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 25px;
  font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(114, 150, 227);
  text-decoration: none;
}

#title:hover {
  color: rgb(60, 60, 171);
  transform: scale(1.2)
}

#logoutNav {
  position: absolute;
  right: 2vw;
  top: 1.5vh;
  text-decoration: none;
  color: rgb(114, 150, 227);
  cursor: pointer;
  font-size: 15px;
}

#logoutNav:hover {
  color: rgb(60, 60, 171);
  transform: scale(1.2)
}

#boardTitle {
  color: white;
  position: absolute;
  display: flex;
  position: fixed;
  align-items: center;
  margin-top: 0px;
  text-align: center;
  justify-content: center;
  background: rgb(60, 60, 171);
  width: 100%;
  left: 0px;
  height: 7%;
  top: 5vh;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
}

.cardContainer {
  display: flex;
  justify-content: flex-start;
  height: 77vh;
  margin-top: 20vh;
  padding-top: 5px;
  width: 100%;
  overflow-x: scroll;
}

.listWrapper {
  height: 100%;
  width: 272px;
  margin: 0px 10px;
}

.list {
  background: white;
  text-align: center;
  width: 262px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px;
  list-style: none;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
}

.list:hover {
  transform: scale(1.02)
}

#addListTitle {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 18px;
  font-weight: bold;
}

#addList {
  border: none;
  padding: 2px 0px 2px 3px;
  width: 190px;
  max-width: 190px;
  min-width: 190px;
  height: 20px;
  max-height: 50px;
  min-height: 20px;
  font-family: sans-serif;
}

#addList:hover {
  transform: scale(1.03);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.75);
  background: rgb(250, 250, 250);
}

#doIt {
  margin: 0px 2px 5px 2px;
  background: rgb(114, 150, 227);
  color: white;
  font-family: sans-serif;
  border: none;
  border-radius: 3px;
  padding: 5px 9px;
  letter-spacing: .5px;
}

#doIt:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background: rgb(60, 60, 171);
}

.listContainer {
  display: flex;
}

.newList {
  background: white;
  width: 272px;
  border-radius: 3px;
  padding: 10px 0px;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  white-space: nowrap;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.newList:hover {
  transform: scale(1.02)
}

.newListTitle {
  margin: 5px 0px;
  margin-left: 2px;
  padding: 10px 0px;
  width: 255px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  background: white;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 3px 0px;
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  height: 42px;
  min-height: 30px;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.newListTitle:hover {
  transform: scale(1.03);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.75);
  background: rgb(250, 250, 250);
}

.taskCard{
  margin-left: 3px;
  width: 265px;
  background: white;
  border-radius: 3px;
}

.taskCard:hover {
  transform: scale(1.01)
}

.addTask {
  width: 242px;
  padding: 3px 0px;
  border: none;
  background: white;
  color: black;
  padding-left: 10px;
  min-width: 242px;
  max-width: 242px;
  height: 50px;
  min-height: 30px;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
}

.addTask:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.75);
  opacity: 75%;
  background: rgb(250, 250, 250);
}

.newTaskCard {
  width: 242px;
  background: white;
}

.newTaskCard:hover {
  transform: scale(1.05);
}

.newTaskName {
  height: 25px;
  min-height: 30px;
  max-height: 55px;
  width: 235px;
  max-width: 235px;
  min-width: 235px;
  border: none;
  overflow-y: hidden;
  font-family: sans-serif;
}

.newTaskName:hover {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.75);
  background: rgb(250, 250, 250);
}

.taskBtnContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.taskBtn {
  margin: 0px 3px;
  background: rgb(114, 150, 227);
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  color: white;
  font-family: sans-serif;
}

.taskBtn:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background: rgb(60, 60, 171);
}

.deleteListBtn {
  margin: 3px;
  background: rgb(114, 150, 227);
  border: none;
  color: white;
  border-radius: 3px;
  width: 80px;
  height: 25px;
  font-family: sans-serif;
  letter-spacing: .5px;
}

.deleteListBtn:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background: rgb(60, 60, 171);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 10px;
}

/* ============ Logout (logout.ejs) =============== */

#logout {
  background: rgb(60, 60, 171);
}

.logoutTitle {
  font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(114, 150, 227);
  font-size: 25px;
}

.logoutHeader {
  background: whitesmoke;
  color: rgb(114, 150, 227);
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutContainer {
  position: absolute;
  height: 30vh;
  width: 33vw;
  background: rgb(114, 150, 227);
  top: 30vh;
  left: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#success {
  color: white;
  text-align: center;
  font-size: 20px;
}

#backToLogin {
  color: white;
  text-align: center;
}

#logoutRedirect {
  color: white;
}

/* ============= Sign Up (signup.ejs) ============== */

#signup {
  background: rgb(60, 60, 171);
}

.signupHeader {
  background: whitesmoke;
  color: rgb(114, 150, 227);
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  background: rgb(114, 150, 227);
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 25vh;
  left: 37.5vw;
  height: 50vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#signupTitle {
  letter-spacing: 1px;
}

#signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3px;
  width: 20vw;
}

.signupField {
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
  text-align: center;
}

#signupRedirect {
  text-align: center;
  color: white;
}

#goToLogin {
  color: white;
}

#goToLogin:hover{
  opacity: 50%;
}

#signupBtn {
  margin-top: 15px;
}
